#result-ad {
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}
#result-ad img {
    width: 200px;
    height: 200px;
}

#user-listing span.role-name::after {
    content: " | ";
}

#user-listing span.role-name:last-child::after {
    content: "";
}